<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../JS/nav.js"></script>
    <script src="../JS/profile.js"></script>
    <script src="../JS/togglePassword.js"></script>
    <title>Change Password</title>
    <link href="../CSS/output.css" rel="stylesheet">
    <style>
        h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            font-weight: 600;
        }

        label,
        p {
            font-family: 'Roboto', sans-serif;
        }

        input,
        button {
            font-family: 'Arial', sans-serif;
        }
    </style>
</head>

<body class="w-full h-full bg-gradient-to-r from-teal-400 via-[#000000c9] to-purple-700 min-h-screen flex flex-col">
    <div th:replace="navbar :: navbar"></div>
    <div class="h-full w-full flex-grow flex flex-col md:flex-row">

        <!-- Popup Modal Start -->
        <div id="contactModal" class="hidden fixed inset-0 bg-opacity-55 justify-start items-start mt-[3rem]">
            <div class="bg-white p-2 rounded-lg shadow-lg max-w-lg w-full h-full">
                <!-- Modal Header -->
                <div class="flex w-full items-center mb-4">
                    <h2 class="w-[95%] text-center text-xl font-bold text-gray-700" th:text="${session.name}"></h2>
                    <button id="closeModal" class="w-[5%] self-end text-gray-500 hover:text-gray-700">X</button>
                </div>
                <div id="modalContent">
                    <!-- Modal Content -->
                </div>
            </div>
        </div>
        <!-- Popup Modal End -->

       

        <div class="h-full flex-grow flex items-center justify-center flex-col">
            <div th:if="${error}" class="error-message h-[3rem]">
                <p class="" th:text="${error}"></p>
            </div>

            <form th:action="@{/user/changePasswordProcess}" th:method="post"
                class="flex flex-col justify-between h-[30rem] mt-10  w-[20rem]" th:object="${password}">

                <!-- Current Password -->
                <div class="flex flex-col h-[7rem] mb-5">
                    <span class="mb-3">Current Password</span>
                    <div class="flex flex-row">
                        <input th:field="*{oldPassword}" id="currentPassword"
                            class="pl-3 p-1 w-[83%] ml-[8%] rounded-l-[0.5rem]" type="password">
                        <img class="cursor-pointer togglePassword h-8 w-5 pr-1 bg-white rounded-r-[0.5rem]"
                            src="../icon/eye-open.svg">
                    </div>
                    <div class="text-red-600 text-sm" th:if="${#fields.hasErrors('oldPassword')}">
                        <span th:errors="*{oldPassword}"></span>
                    </div>
                </div>

                <!-- New Password -->
                <div class="flex flex-col h-[7rem]   mb-5">
                    <span class="mb-3">New Password</span>
                    <div class="flex flex-row">
                        <input th:field="*{newPassword}" id="newPassword"
                            class="pl-3 p-1 w-[83%] ml-[8%] rounded-l-[0.5rem]" type="password">
                        <img class="cursor-pointer togglePassword h-8 w-5 pr-1 bg-white rounded-r-[0.5rem]"
                            src="../icon/eye-open.svg">
                    </div>
                    <div class="text-red-600 text-sm mt-1" th:if="${#fields.hasErrors('newPassword')}">
                        <span th:errors="*{newPassword}"></span>
                    </div>
                </div>

                <!-- Confirm Password -->
                <div class="flex flex-col h-[7rem]  mb-5">
                    <span class="mb-3">Confirm Password</span>
                    <div class="flex flex-row">
                        <input th:field="*{confirmPassword}" id="confirmPassword"
                            class="pl-3 p-1 w-[83%] ml-[8%] rounded-l-[0.5rem]" type="password">
                        <img class="cursor-pointer togglePassword h-8 w-5 pr-1 bg-white rounded-r-[0.5rem]"
                            src="../icon/eye-open.svg">
                    </div>
                    <div class="text-red-600 text-sm mt-1" th:if="${#fields.hasErrors('confirmPassword')}">
                        <span th:errors="*{confirmPassword}"></span>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="h-10 flex justify-center items-center mt-5">
                    <button class="w-[6rem] h-full bg-green-700 rounded-[0.5rem]">Change</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>