<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/output.css" rel="stylesheet">
    <script src="../JS/profilePhoto.js"></script>
    <title>Edit Profile </title>
</head>

<body class="bg-gradient-to-br from-teal-400 via-pink-500 to-purple-700 min-h-screen font-sans" th:object="${user}">
    <div th:replace="navbar :: navbar"></div>
    <div class="max-w-4xl mx-auto px-4 py-8">
        <form class="space-y-4" method="post" th:action="@{/user/updateProfile}" th:object="${users}"
            enctype="multipart/form-data">

            <!--//TODO:  Profile Picture Section -->
            <span class="hidden" id="imageURL" th:text="${users.image_url}"></span>
            <!-- <div style="
                                background-size: cover;
                                background-position: center;
                                height: 6rem;
                                width: 6rem;
                                border: none;
                                padding: 0;"
                class="h-24 w-24 bg-gradient-to-r  rounded-full flex justify-center items-center shadow-lg  "
                id="profile-photo">

            </div> -->
            <div class="flex items-center  " style="margin-left: 23rem;">
                <div     
                    style="
                                background-size: cover;
                                background-position: center;
                                height: 6rem;
                                width: 6rem;
                                border: none;
                                padding: 0;"
                    id="profile-photo" 
                    class="h-24 w-24   rounded-full flex justify-center items-center shadow-lg  ">
                    <input type="file" name="file" id="file" 
                        style=" display: none; background: transparent;"
                        class="h-24 w-24   rounded-full flex justify-center items-center shadow-lg  ">
                    
                </div>
            </div>

            <!--//TODO: Profile Name Section -->
            <div class="space-y-4 mt-4">
                <div class="text-gray-700 text-sm font-medium uppercase ml-4">Name</div>
                <div class="bg-white   rounded-lg shadow-lg">
                    <input
                        class="mt-1 block w-full rounded-lg border-gray-300 p-2.5 focus:ring-2 focus:ring-teal-500 focus:outline-none "
                        id="name" name="name" th:field="*{name}" type="text">
                    <div class="text-red-600 text-sm mt-1" th:if="${#fields.hasErrors('name')}">
                        <p th:errors="*{name}"></p>
                    </div>
                </div>
            </div>

            <!--//TODO: Profile Contact Email Section -->
            <div class="space-y-4 mt-4">
                <div class="text-gray-700 text-sm font-medium uppercase ml-4">Email</div>
                <div class="bg-white  rounded-lg shadow-lg">
                    <input type="text" th:field="*{email}" hidden>
                    <input
                        class="mt-1 block w-full rounded-lg border-gray-300 p-2.5 focus:ring-2 focus:ring-teal-500 focus:outline-none"
                        id="email" name="email" th:field="*{email}" type="email" disabled>
                    <div class="text-red-600 text-sm mt-1" th:if="${#fields.hasErrors('email')}">
                        <p th:errors="*{email}"></p>
                    </div>
                </div>
            </div>

            <!--//TODO: Profile Password Section -->
            <div class="space-y-4 mt-4">
                <div class="text-gray-700 text-sm font-medium uppercase ml-4">Password</div>
                <div class="bg-white  rounded-lg shadow-lg">
                    <input
                        class="mt-1 block w-full rounded-lg border-gray-300 p-2.5 focus:ring-2 focus:ring-teal-500 focus:outline-none"
                        id="password" name="password" th:field="*{password}" type="text">
                    <div class="text-red-600 text-sm mt-1" th:if="${#fields.hasErrors('password')}">
                        <p th:errors="*{password}"></p>
                    </div>
                </div>
            </div>

            <!--//TODO: Profile About Section -->
            <div class="space-y-4 mt-4">
                <div class="text-gray-700 text-sm font-medium uppercase ml-4">About</div>
                <div class="bg-whiterounded-lg shadow-lg ">
                    <textarea
                        class="mt-1 block w-full rounded-lg border-gray-300 p-2.5 focus:ring-2 focus:ring-teal-500 focus:outline-none"
                        id="about" name="about" rows="4" th:field="*{about}"></textarea>

                </div>
            </div>
            <div class="bg-slate-500 w-24 rounded-3xl h-10 flex items-center justify-center"
                style="margin-top: 3rem; margin-left: 50%; border-radius: 0.5rem;"><button type="submit">Update</button>
            </div>
        </form>
    </div>
</body>

</html>