<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/output.css">
    <link rel="stylesheet" href="../CSS/home.css">
    <title>Edit Contact</title>
</head>

<body class="bg-green-900 flex items-center justify-center min-h-screen">

    <form action="/user/updateContact" method="post" class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md" th:object="${userContact}">
        <!-- Form Header -->
        <h1 class="text-2xl font-bold text-gray-800 text-center mb-6">Edit Contact</h1>

        <!-- Profile Picture Section -->
        <div class="flex justify-center mb-6">
            <div
                class="rounded-full bg-gray-200 h-24 w-24 flex items-center justify-center border-4 border-blue-500 shadow-lg">
                <span class="text-sm text-gray-500">Image</span>
            </div>
        </div>

        <!-- User Details Section -->
        <div class="space-y-6">
            <!-- id -->
            <input type="number" class="hidden" th:field="*{contact_id}" />
            <!-- Name -->
            <div>
                <label for="name" class="block text-sm text-gray-600 mb-1">Name</label>
                <input th:field="*{name}" id="name" type="text"
                    class="w-full p-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
            </div>

            <!-- Number -->
            <div>
                <label for="number" class="block text-sm text-gray-600 mb-1 required" >Number</label>
                <input th:field="*{number}" id="number" type="text"
                    class="w-full p-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
            </div>

            <!-- Email -->
            <div>
                <label for="email" class="block text-sm text-gray-600 mb-1">Email</label>
                <input th:field="*{email}" id="email" type="email"
                    class="w-full p-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
            </div>

            <!-- About -->
            <div>
                <label for="about" class="block text-sm text-gray-600 mb-1">About</label>
                <textarea th:field="*{about}" id="about" rows="3"
                    class="w-full p-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"></textarea>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit"
            class="mt-6 w-full bg-blue-500 text-white py-2 rounded-lg shadow-lg hover:bg-blue-600 transition duration-300">
            Update
        </button>
    </form>

</body>

</html>