<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="../CSS/output.css" rel="stylesheet">
    <script src="../JS/nav.js"></script>
    <script src="../JS/profile.js"></script>
    <title>Home</title>
</head>

<body id="home" class="">

    <div th:replace="~{navbar :: navbar}"></div>
    <div class="h-5/6 w-full flex flex-col items-center justify-center space-y-6 p-8 rounded-lg shadow-lg">
        <!-- Popup Modal Start -->
        <div id="contactModal" class="hidden fixed inset-0  bg-opacity-55 justify-start items-start mt-[3rem] ">
            <div class=" bg-white p-2 rounded-lg shadow-lg max-w-lg w-full h-full">
                <!-- Modal Header -->
                <div class="flex w-full items-center mb-4">
                    <h2 class="w-[95%] text-center text-xl font-bold text-gray-700" th:text="${session.name}"></h2>
                    <button id="closeModal" class="w-[5%] self-end text-gray-500 hover:text-gray-700">X</button>
                </div>
                <div id="modalContent">
                    <!-- Modal Content -->
                </div>
            </div>
        </div>
        <!-- Popup Model End -->
        <!-- Heading Section -->
        <div class="text-5xl font-extrabold font-sans  drop-shadow-md" style="background: linear-gradient(to right, rgb(110, 62, 62), rgb(158, 65, 41), rgb(223, 19, 12)); 
             -webkit-background-clip: text; 
             -webkit-text-fill-color: transparent;">
            Smart Contact Manager
        </div>
        <p>Session attribute for 'name' exists:
            <span th:text="${session.containsKey('name') ? 'Yes' : 'No'}"></span>
        </p>

        <!-- Description Section -->
        <div class="w-3/4 text-center text-2xl text-[#391374] leading-relaxed font-medium">
            Start collecting your contacts in a smarter way. We provide an efficient and intuitive platform for managing
            your contacts with ease.
        </div>

        <!-- CTA Button -->
        <div>
            <a href="/user/profile"
                class="px-6 py-3 text-lg font-semibold text-white  rounded-full shadow-md hover:bg-purple-800 hover:scale-105 transition-all"
                style="background: linear-gradient(to right, rgb(110, 62, 62), rgb(158, 65, 41), rgb(223, 19, 12)); 
             ">
                Get Started
            </a>
        </div>
    </div>


</body>

</html>