<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/output.css" rel="stylesheet">
    <script src="../JS/profile.js"></script>
    <script src="../JS/nav.js"></script>
    <title>Navbar</title>
</head>

<body>
    <!-- Navbar -->
    <nav th:fragment="navbar" id="nav" class="bg-green-900 h-12 sticky top-0 flex items-center px-4 z-20">
        <!-- Logo/Left Section -->
        <div class="h-full flex items-center" id="navLogo" onclick="details()">
            <div id="navlogo" class="h-9 w-9 
             rounded-full flex justify-center items-center">
                <img src="../icon/logo.svg" alt="">
            </div>
        </div>

        <!-- User's Name in the Center -->
        <div class="navbar-center font-bold text-3xl" style="background: linear-gradient(to right, rgb(110, 62, 62), rgb(158, 65, 41), rgb(223, 19, 12)); 
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;" th:text="${session.name}">
        </div>

        <!-- Links Section -->
        <div id="nav-links" class="hidden sm:flex items-center space-x-4 
                 bg-green-900 sm:bg-transparent absolute sm:static 
                 top-12 left-0 w-14 sm:w-auto sm:py-0 py-2 px-4">

            <span class=" hidden" id="log" th:text="${log}"></span>
            <a href="/login" style=" display: none;" class="text-white text-sm hover:underline block sm:inline"
                id="login">Login</a>
            <a href="/user/logout" style="display: none; " class="text-white text-sm hover:underline block sm:inline"
                id="logout">Logout</a>
            <a href="/home" class="text-white text-sm hover:underline block sm:inline">ABOUT</a>
        </div>
    </nav>

    <!-- Profile Section (Thymeleaf Fragment) -->
    <!-- <div th:replace="profile :: profile"></div> -->

    <!-- Main Content -->
    <div class="flex-grow flex flex-col md:flex-row pt-12">

        <div
            class="flex-grow flex items-center justify-center px-4 mt-10 md:mt-0 ml-0 md:ml-[25%] lg:ml-[20%] xl:ml-[16%]">
            <div class="bg-white shadow-lg rounded-lg w-full sm:w-10/12 md:w-8/12 lg:w-6/12 xl:w-5/12 p-6">
                <form th:action="@{/submit-contact}" th:method="post" class="space-y-6" th:object="${user}">

                </form>
            </div>
        </div>
    </div>

    <script>
        // JavaScript to toggle profile visibility
        document.getElementById('logo').addEventListener('click', function () {
            var profile = document.getElementById('profile');
            profile.classList.toggle('visible');
        });
    </script>

</body>

</html>