<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="../CSS/output.css" rel="stylesheet">
    <script src="../JS/showContact.js"></script>

</head>

<body class="bg-gray-100">
    <!-- Header -->
    <header th:replace="navbar :: navbar"></header>


    <!-- Popup Modal Start -->

    <!-- Modal -->
    <div id="contactModal" class="hidden fixed inset-0  bg-opacity-55 justify-center items-center ">
        <div class=" bg-white p-8 rounded-lg shadow-lg max-w-lg w-full">
            <!-- Modal Header -->
            <div class="flex justify-between items-center mb-4">
                <h2 class="text-xl font-bold text-gray-700">Contact Details</h2>
                <button id="closeModal" class="text-gray-500 hover:text-gray-700">X</button>
            </div>
            <div id="modalContent">
                <!-- Modal Content -->
            </div>
        </div>
    </div>
    <!-- Popup Model End -->

    <!-- Main Container -->
    <div class="flex flex-row h-[90vh]">
        <div th:replace="profileReplace::profileDetails"></div>
        <!-- Contacts List -->
        <div class="w-3/5 bg-white rounded-3xl shadow-lg p-6 ml-4 overflow-y-auto">
            <div class="flex w-full h-11 justify-between">
                <h2 class="text-2xl font-bold mb-6 text-gray-700">Contacts</h2>
                <!-- <div><img style="height: 1.5rem;" src="../icon/edit.svg" alt="Edit"></div> -->
                <a href="/user/addContact"
                    class="text-1xl font-normal mb-6 text-gray-700 hover:shadow-lg hover:text-blue-600 transition duration-300 flex">
                    <!-- Add Contact -->
                    <img style="height: 1.5rem;" src="../icon/add.svg" alt="Edit">
                </a>

            </div>
            <ul class="space-y-4">
                <li th:each="contact : ${contacts}"
                    class="flex items-center bg-[#3d635e96] text-white rounded-lg p-4 shadow-md">

                    <!-- <span id="contactId"  th:text="${contact.contact_id}"></span> -->
                    <span id="contactIds" class="hidden" th:text="${contact.contact_id}"></span>

                    <div class="w-16 h-16">
                        <img th:src="${contact.image_url}" class="w-full h-full object-cover rounded-full">
                    </div>
                    <div class="flex-1 ml-16">
                        <div class="text-lg font-medium" th:text="${contact.name}"></div>
                        <div class="text-sm text-gray-300" th:text="${contact.number}"></div>
                    </div>
                    <div>

                        <a href="#"
                            class="text-1xl font-normal mb-6 text-gray-700 hover:shadow-lg hover:text-red-800 transition duration-300 details-link"
                            th:attr="data-id=${contact.contact_id}">
                            Details
                        </a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>