* {
    margin: 0;
    padding: 0;
}

#home {
    background-image: url(../Image/contact.jpg);
    /* background-color: aquamarine; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
